<footer class="border-top footer text-muted text-center">
    <div class="container">
        Copyright &copy; Munchin Book Application @DateTime.Now.Year
        @*<a href="mailto:michaelmunchin07@yahoo.com">michaelmunchin07@yahoo.com</a>
            <custom-email asp-for=""></custom-email>*@
        <custom-email my-email="michaelmunchin07@yahoo.com"></custom-email>
    </div>
</footer>
